.containerPrincipalModal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  backdrop-filter: brightness(90%) blur(4px);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 100;
}

.contentPopUp {
  background-color: #fff;
  width: 35vw;
  padding: 2rem;
  border-radius: 0.5rem;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  align-items: center;
  transition: transform 0.3s ease;
}

.contentPopUp:hover {
  transform: scale(1.02);
}

.formContent {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.formContent input,
.formContent textarea {
  width: 100%;
  padding: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 0.3rem;
  transition: border-color 0.3s ease;
}

.formContent input:focus,
.formContent textarea:focus {
  outline: none;
  border-color: #0077cc;
}

.buttonCard {
  display: flex;
  width: 100%;
  justify-content: space-around;
}

.buttonCard button {
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 0.3rem;
  background-color: #0077cc;
  color: #fff;
  transition: background-color 0.3s ease;
}

.buttonCard button:hover {
  background-color: #005fa3;
  cursor: pointer;
}
